@import "mixins";
@include zero;

.image {
    -webkit-box-flex: 1;
    -moz-box-flex: 1 0 .1px;
    -webkit-flex: 1 0 .1px;
    -ms-flex: 1 0 .1px;
    flex: 1 0 .1px;
}

.text {
    -moz-box-flex: 0 1 360px;
    -webkit-flex: 0 1 360px;
    -ms-flex: 0 1 360px;
    flex: 0 1 360px;
}

.block-two {
    font-size: .875rem;
    line-height: 1.71429;
    font: inherit;
    display: block;
}

.flex-block-two {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    padding-top: 60px;
}

.rent-btn {
    margin-top: 20px;
    padding: 20px 40px;
    min-width: 230px;
    border: 6px solid #d8d8d8;
    font-size: 1.125rem;
    line-height: 1.11111;
    background: #da2020;
    border-radius: 50px;
    font-family: Lato;
}

.map-block {
    display: block;    
 }

.data-box {
    position: relative;
    padding: 40px 0px 0px 0px;
    flex: 1 0 .1px;
    display: block;
    left: -39%;
    z-index: 1;
    top: 115px;
}

.data-box:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2000px;
    height: 100%;
    z-index: -1;
    background: #ddc694;
}

.price {
    position: relative;
    top: -39%;
    left: 60%;
    color: #fff;
    letter-spacing: -.02em;
    font-family: 'Rozha One',serif;
    font-size: 4.375rem;
    line-height: 1;
}

div.mapinfo {
    width: 330px;
    height: 200px;
    bottom: 155px;
    left: 36px;
    text-align: left;
    color: black;
    position: absolute;
    z-index: 1;
}

div.mapinfo2 {
    height: 200px;
    position: absolute;
    bottom: -18px;
    left: 305px;
    color: black;
    text-align: left;
    position: absolute;
    z-index: 1;
}