@import "mixins";
@include zero;

#header-cell>header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: right;
}

.header {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: right;
}
.phone {
    position: relative;
    display: inline-block;
    padding: 18px 0 20px 20px;
    vertical-align: top;
}

.phone:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2000px;
    z-index: -1;
    background-color: #fff;
}

.phone a:before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: url(/static/img/sprite.svg) no-repeat 0 0;
    vertical-align: middle;
}

.container {
    display: block;
    margin: 0 auto;
    padding-left: 200px;
    padding-right: 100px;
    width: 100%;
    max-width: 1400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-map {
    display: block;
    margin: 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.head {
    position: relative;
    display: inline-block;
    padding: 36px 0 34px;
    color: #fff;
    z-index: 1;
    left: -9%;
}

.head:before {
    content: '';
    position: absolute;
    top: 0;
    right: -7%;
    height: 100%;
    width: 2000px;
    z-index: -1;
    background: rgba(218,32,32,0.94);
}

.block-one {
    position: absolute;
    min-width: 100%;
    left: 0px;
    top: 0px;
}

 .block-two {
    height: 100vh;
    width: 100%;
}

 .oaks {
    position: relative;
    top: 90px;
}

 .slider img {
    height: 100vh;
    width: 100%;
}

@keyframes show-down-arrow {
    0%   {opacity: 0;}
    100% {opacity: 1;}
    }

@keyframes jump-down-arrow {
    0%   {bottom: 20px;}
    100% {bottom: 5px;}
    }

.slide-down-arrow {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 34px;
    height: 15px;
    z-index: 90;
    background: url(/static/img/sprite.svg) no-repeat -43px -42px;
    -o-animation: show-down-arrow .5s ease-in 1.2s 1 normal both,jump-down-arrow 1s ease-out 1.3s infinite alternate both;
    -moz-animation: show-down-arrow .5s ease-in 1.2s 1 normal both,jump-down-arrow 1s ease-out 1.3s infinite alternate both;
    -webkit-animation: show-down-arrow .5s ease-in 1.2s 1 normal both,jump-down-arrow 1s ease-out 1.3s infinite alternate both;
    animation: show-down-arrow .5s ease-in 1.2s 1 normal both,jump-down-arrow 1s ease-out 1.3s infinite alternate both;
}

.apply google-map {
    display: table-row;
}

.available {
    position: relative;
}

.spanphone {
    display: inline-block;
    margin-top: 1px;
    vertical-align: top;
    font-size: 1.125rem;
    line-height: 1.22222;
    font-family: Lato;
}

.subtitle {
    margin-top: 2px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.45455;
    font-family: Lato;
}