@import "mixins";
@include zero;

.show-room {
    color: #fff;
    background: url(/static/img/bot.jpg) no-repeat center;
    background-size: cover;
}

#room{
    .slider-navigation {
        padding: 0px 30px 0;
        bottom: 0;
        top: 100%;
    }

    .slider-arrow-right {
        right: -70px;
    }

    .slider-arrow-left {
        left: -70px;
    }
    .slider-arrow {
        span {
            background: inherit;
            }
    }
}

.flex {
    display: flex;
    flex-flow: row nowrap;
}

.slider-box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1 0 .1px;
    -webkit-flex: 1 0 .1px;
    -ms-flex: 1 0 .1px;
    flex: 1 0 .1px;
}

.text-box {
        flex: 0 1 360px;
        padding-left: 100px;
}

ul, ol {
    margin: 1.6em 0;

    li {
      position: relative;
      margin-bottom: 0.5em;
      z-index: 1;
      font-family: 'Lato', serif;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0;
        padding: 0;
        
      }
    }
  }

  ul > li {
    padding-left: 1em;

    &:before {
      content: '●';
      position: absolute;
      left: 0.6em;
      top: -0.1em;
      @include transform-origin(50% 55%);
      @include transform(scale(0.6) translateZ(0));
    }
  }

  ul > li:before {
    content: '—';
    top: 0;
    @include transform(none);
  }

  ol {
    padding-left: 1.6em;
    list-style: decimal;
  } 


ul > li::before {
    content: "●";
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(218, 32, 32);
}

.flex-block-three {
    @include flexbox;
    @include flex-wrap(no-wrap);
    @include justify-content(center);
    padding-bottom: 5%;
}

.text-bold {
    font-weight: bold;
}


.text-align {
    text-align: left;
    padding-left: 80px;
}

div .title-h1 {
    text-align: left;
}
