@import "mixins";
@include zero;

@media screen and (max-width: 899px) and (min-width: 768px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width: 899px) {
    .apply-block .image {
        -webkit-box-flex: 1;
        moz-box-flex: 1 0 100%;
        webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    }
    .text {
        margin-top: 30px;
        -webkit-box-flex: 1;
        moz-box-flex: 1 0 100%;
        webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-left: 0px;
    }
    
    #map-block-block .data-box {
        moz-box-flex: 0 1 500px;
        webkit-flex: 0 1 500px;
        -ms-flex: 0 1 500px;
        flex: 0 1 500px;
    }
}
 
@media screen and (max-width: 1023px) and (min-width: 768px) {
    #main-slider .head {
        padding: 26 0 24;
    }
    .block {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #main-slider {
        min-height: 580px;
    }
     
}
  
@media screen and (max-width: 767px)  {
    .title-h2 {font-size: 1.5rem;}

     p {font-size: 0.875rem;}

    .rent-btn {
        min-width: 160px;
        padding: 12px 24px;
        font-size: 1rem;
    }

    .text-align {padding: 0px;}

    .flex {flex-flow: row wrap;}
    
    .attach-h1 {font-size: 3.75rem;}
    
}

@include media_interval(0, $media768) {
    .spanphone {font-size: 1rem;}

    .phone {padding: 10px 0 10px 16px;} 

    .head {
        padding: 20px 0 18px;
        left: 0%;
    }

    .slider-arrow {visibility:hidden;}

}


@media screen and (max-width: 479px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .title-h1 {font-size: 3.125rem;}
    
    .title-h2 {font-size: 2rem;}
    
    .subtitle {font-size: .875rem;}
    
    .text-styles {font-size: .875rem;}
    
    .container {padding-left: 30px;
    
               padding-right: 30px;}

    .data-box {left: 20%;
                  padding-right: 3px;
                  margin-left: -25%;}
    
    .price    {top: -5%;
                  left: 20%;} 
    
    #room{
    
        .slider-navigation {
            padding-top: 5px;
            width: 120%;
            left: -20px;

            .slider-navigation-item {
                padding: 4px 0;
                margin-right: 9px;
                width:  12px;
                height: 10px;

                span {
                    width: 100%;
                }
            }
        }
    }

    .text-box {
        padding-left: 0px;
        padding-top: 30px;
    }

    .title-h3 {
        font-size: 1.75rem;
    }

}

@media screen and (max-width: 1199px) and (min-width: 1024px) {

    .container {
        padding-left: 140px;
        padding-right: 80px;
    }
    
    .title-h1 {
        font-size: 6.25rem;
    }

}