{% load staticfiles %}
{% load footer %}

<footer itemscope itemtype="https://schema.org/WPFooter">
    <div class="grid-block-footer">

        <div class="flex">


            <div class="phone-footer"> <!--absolute; inline block-->

                <a href="tel:8564560856">
                    <span class="spanphone">856-456-0856 </span>
                </a>

            </div>

            <div class="copyright-box text-styles copy-mrg">
                <p class="copyright">Heights Investment Property &copy; <span itemprop="copyrightYear">{% now "Y" %}</span>
                </p>
            </div>

            <div class="dl-logo-box">
                {% dl_link %}
            </div>


        </div>

    </div>
</footer>