@import 'mixins';

// точка перехода к вертикальному подвалу
$column_footer: $media640;


.grid-block-footer {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: minmax(100px, 1fr);
  max-width: $grid_max_width;
  @include border-box;
  @include background-clip(content-box);
  @include media_map((padding-left, padding-right), $grid_full_paddings);
}

#footer-cell > footer {
  color: $white;
  background: url(/static/img/bot.jpg) no-repeat center;
  background-color: #404040;
  @include vpad(40px);

  .flex {
    @include flexbox;
    @include align-items(center);
    @include media_interval(0, $column_footer) {
      @include align-items(stretch);
      @include flex-direction(column);
    }
  }

  .copyright-box {
    @include flex(1 1 auto);

    .copyright {
      @include fontsize_default;
      @include media_interval(0, $column_footer) {
        margin-bottom: 16px;
        text-align: center;
      }
    }
  }

  .dl-logo-box {
    @include flex(0 0 auto);

    .dl-links {
      text-align: right;
      @include media_interval(0, $column_footer) {
        text-align: center;
      }

      p {
        display: inline-block;
        margin-bottom: 10px;
        text-align: left;
        white-space: nowrap;
        @include font-size(14px, 22px);
        @include media_interval(0, $column_footer) {
          text-align: center;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a:hover {
        @include opacity(0.7);
      }
    }
  }
}

   .copy-mrg {
    margin-bottom: 22px;
}
 
   .phone-footer {
    position: relative;
    //top: 0px;
    //right: 150px;
    display: inline-block;
    padding: 18px 90px 20px 20px;
    vertical-align: top;
    
    } 

    .phone-footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #fff;
    }
    
   .phone-footer a:before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: url(/static/img/sprite.svg) no-repeat -22px -2px;
    vertical-align: middle;
    }