{% load staticfiles %}

<div id="wrapper">

    <div id="header-wrapper">
        <div id="header-cell">

            <div class="header">

                <div class="container">
                    <div class="phone">

                        <a href="tel:8564560856">
                            <span class="spanphone">856-456-0856 </span>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="content-wrapper">
        <div id="content">


            <div id="main-slider" class="block-one section section-full-height">
                <div class="slider">
                    <div class="slider-item"> <img src="{% static 'img/top2.jpg' %}" alt=""> </div>
                    <div class="slider-item"> <img src="{% static 'img/top.jpg' %}" alt=""> </div>
                    <div class="slider-item"> <img src="{% static 'img/top2.jpg' %}" alt=""> </div>
                    <a href="#arrow" class="slide-down-arrow"></a>
                </div>
            </div>


            <div class="section-inner oaks">
                <div class="container">

                    <div class="head">
                        <h1 class="title title-h1">Castle Oaks</h1>
                        <div class="subtitle">apartments</div>
                    </div>

                </div>
            </div>





            <div id="arrow" class="container">

                <div class="flex-block-two">
                    <div class="image">
                        <img src="/static/img/plan.jpg" alt="Castle Oaks Apartments">
                    </div>

                    <div class='text'>

                        <h2 class="title title-h2"> It's easy to apply!</h2>
                        <p class="text-styles">Castle Oaks Apartments are centrally located, close to public transportation, near shopping and dining and minutes away from Philadelphia. </p>
                        <button type="button" class="btn rent-btn open-contact-popup">Rent Now</button>

                    </div>
                </div>

                <div id="map-block">

                    <div class="container">
                        <div class="flex-block-two">
                            <div class="data-box">

                                <h2 class="title title-h2">Now Available</h2>
                                <p class="text-styles text-bold">
                                    <strong>
                                        - 5 upstairs units <br>
                                        - 5 downstairs units <br>
                                        - rent price $750 and $795 (corner units)
                                    </strong>
                                </p>

                                <div class="price">$750</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="google-map">
                <div class="map" data-lat="{{ address.coords.lat }}" data-lng="{{ address.coords.lng }}"></div>
            </div>

            <div id="room" class="block show-room">

                <div class="container">

                    <div class="flex">

                        <div class="slider-box">

                            <h2 class="title title-h2"> Photo Gallery </h2>

                            <div class="slider-room">
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/1hd.jpeg'%}"> <img src="{% static 'img/1.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/2hd.jpeg'%}"> <img src="{% static 'img/2.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/3hd.jpeg'%}"> <img src="{% static 'img/3.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/4hd.jpeg'%}"> <img src="{% static 'img/4.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/5hd.jpeg'%}"> <img src="{% static 'img/5.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/6hd.jpeg'%}"> <img src="{% static 'img/6.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/7hd.jpeg'%}"> <img src="{% static 'img/7.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/8hd.jpeg'%}"> <img src="{% static 'img/8.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/9hd.jpeg'%}"> <img src="{% static 'img/9.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/10hd.jpeg'%}"> <img src="{% static 'img/10.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/11hd.jpeg'%}"> <img src="{% static 'img/11.jpeg'  %}" alt="not found T_T"> </a> </div>
                                <div class="slider-item"> <a data-fancybox="gallery" href="{% static 'img/12hd.jpeg'%}"> <img src="{% static 'img/12.jpeg'  %}" alt="not found T_T"> </a> </div>
                            </div>
                        </div>

                        <div class="text-box">
                            <div>
                                <h3 class="title title-h3"> Amenities: </h3>
                                <ul>
                                    <li>Newly renovated apartments</li>
                                    <li>All new energy efficient appliances</li>
                                    <li>Cable ready</li>
                                    <li>Individual parking space</li>

                                </ul>

                                <h3 class="title title-h3"> Details: </h3>

                                <ul>
                                    <li>Allowed two adults and one child</li>
                                    <li>No pets allowed</li>
                                    <li>We rent first or fifteenth of the month</li>
                                    <li>Full security deposit is required upfront to reserve apartment</li>
                                    <li>Security deposit is a month and a half rent</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>














<!-- <div class="section-inner">
    <div class="grid">
        <div class="phone gc-wide-2 gc-ml-wide-10">
            телефоге
        </div>

        <div class="logo gc-wide-6 gc-ml-wide-1">
            телефоге
        </div>

        <div class="title-h1"> TESTO </div>

    </div>
</div>
</div>

<!-- <div class="slider">
    <div class="slider-item">
        <img src="/static/img/top.jpg" alt="">
    </div>
    <div class="slider-item">
        <img src="/static/img/top.jpg" alt="">
    </div>
    <div class="slider-item">
        <img src="/static/img/top.jpg" alt="">
    </div>
</div> -->
