@import 'mixins';

/*$logo_width: 240px;
$logo_height: 54px;*/

$logo_width: 256px;
$logo_height: 128px;


#header-cell > header {
  padding: 30px 0;
  background-color: #D0D0D0;

  .flex {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
  }

  .logo-box {
    @include flex(0 0 auto);

    .logo {
      display: inline-block;
      width: $logo_width;
      vertical-align: middle;
      @include media_interval(0, $media480) {
        width: 180px;
      }

      &:before {
        content: '';
        display: block;
        padding-bottom: #{100 * $logo_height/$logo_width + "%"};
        background: $sprite_url no-repeat 0 0;
        background-size: rel-background-size($logo_width, $logo_height);
      }
    }

    a.logo:hover {
      @include opacity(0.75);
    }
  }

  .menu-box {
    padding: 0 20px;
    text-align: center;
    @include flex(1 1 auto);
    @include media_interval(0, $media_mobile) {
      padding: 0;
      text-align: right;
    }
  }
}

