@import 'mixins/all';
@import 'conf';

//=========================================
//  Размеры шрифта
//=========================================
@mixin fontsize_default() {
  @include font-size(16px, 24px);
  @include media_interval(0, $media768) {
    @include font-size(14px);
  }
}

@mixin fontsize_h1() {
  @include font-size(40px, 44px);
  @include media_interval(0, $media768) {
    @include font-size(32px);
  }
}

@mixin fontsize_h2() {
  @include font-size(32px, 36px);
  @include media_interval(0, $media768) {
    @include font-size(24px);
  }
}

@mixin fontsize_h3() {
  @include font-size(24px, 26px);
  @include media_interval(0, $media768) {
    @include font-size(16px);
  }
}

//=========================================
//  Шрифты
//=========================================
@mixin font_default() {
  font-family: 'Lato', serif;                               //Arial, Helvetica, sans-serif;
}

@mixin font_title() {
  font-family: 'Rozha One', sans-serif;                               //Arial, Helvetica, sans-serif;
}
//=======================================//
//            мои миксы O_o              //
//=======================================//
@mixin zero() {
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    //font-family: 'Rozha One', serif;
    
}
}