@import "mixins";

.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  max-width: 100%;
  z-index: 1;
  color: $white;
  cursor: pointer;
  text-align: center;
  background: #A0A0A0;
  @include border-box;
  @include fontsize_default;
}