@font-face {
    font-family: 'Rozha One', serif; /* Имя шрифта */
    font-weight: normal;
    font-style: normal;
    src: url(RozhaOne-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: 'Lato', serif; /* Имя шрифта */
    font-weight: normal;
    font-style: normal;
    src: url(Lato.ttf); /* Путь к файлу со шрифтом */
   }   