@import 'mixins';

@include global-reset;

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  
}

body {
  overflow-x: hidden;
  color: $text_color;
  line-height: 1;
  @include no_fontsize;
  @include font_default;
}

// Скрытый элемент
.hidden {
  display: none;
}

// Основной контейнер
#wrapper {
  overflow: hidden;
  display: table; /*таблицы*/
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

#header-wrapper {
  display: table-row; /*строка таблицы*/
  height: 0;
}

#header-cell {
  display: table-cell; /*ячейка таблицы*/  /*поменял row на cell*/
  position: relative;
  height: 0;
  z-index: 3;
  vertical-align: top;
}

#content-wrapper {
  display: table-row; /*строка таблицы*/
  width: 100%;        ///////////////
  height: 100%;       ////////////////////////////
}

#content {
  display: table-cell; /*ячейка таблицы*/
  position: relative;
  width: 100%;         ////////////////////////
  height: 100%;
  z-index: 2;
  vertical-align: top;
  
  background: #FFFFFF;                         //url(/static/img/mustang.jpg);
  background-size: cover;
}

#footer-wrapper {
  //display: table-row; /*строка таблицы*/
  height: 0;
  
}

#footer-cell {
  //display: table-cell; /*ячейка таблицы*/
  position: relative;
  height: 0;
  z-index: 1;
  vertical-align: top;
  width: 100%;
  //background: red;
}

// Полноэкранный блок
.section {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;
  @include border-box;
  @include valign_after;

  &.section-full-height {
    //min-height: 768px; // for old                  //////закоментил
    //min-height: 100vh;                             ///// 
  }

  img.section-image {
    @include centrizeImage($zIndex: 2, $minSize:100.5%);  //
  }

  picture.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    img {
      @include centrizeImage($zIndex: 2, $minSize: 100.5%);
    }
  }

  .section-video {
    visibility: hidden;
    @include centrizeImage($zIndex: 20);

    &.loaded {
      visibility: visible;
    }
  }

  @at-root .no-js & .section-video {
    visibility: visible;
  }

  .section-inner {
    position: relative;          
    display: inline-block;
    width: 100%;
    z-index: 50;
    vertical-align: middle;
    @include border-box;
  }
}

// Контентный блок
.block {
  @include vpad(80px);
  @include media_interval(0, $media768) {
    @include vpad(40px);
  }
}

// Заголовки
.title-h1 {
  //font-weight: bold;
  @include fontsize_h1;
    letter-spacing: -.02em;
    font-size: 7.625rem;
    line-height: .768;
    @include font-title;
}

.title-h2 {
  //font-weight: bold;
  @include fontsize_h2;
    letter-spacing: -.02em;
    font-size: 2.875rem;
    line-height: .91304;
    @include font-title;
    margin-bottom: .6em;
}

.title-h3 {
  font-weight: bold;
  @include fontsize_h3;
    letter-spacing: -.02em;
    font-weight: normal;
    font-size: 2.125rem;
    line-height: 1.23529;
    @include font-title;
    margin: 1.1em 0 .4em;
}
    //font-family: 'Rozha One',serif;
    

//=====================
//      я сьделял
//=====================

.oaks {
    min-height: 100vh; 
    //min-width: 100vh;
}

