@import 'mixins';

$menu_text_color: #404040;
$menu_hover_color: #82BD36;
$menu_active_color: #82BD36;

$mobile_background: #5B3C2A;
$mobile_text_color: #FFFFFF;
$mobile_hover_color: $menu_hover_color;
$mobile_active_color: $menu_active_color;


// базовый класс всех меню
.menu {
  @include no_fontsize;

  ul {
    margin: 0 -5px;
  }

  li {
    color: $menu_text_color;

    a {
      display: inline-block;
      padding: 5px;
      @include fontsize_default;

      &:hover {
        color: $menu_hover_color;
      }
    }

    &.active > a {
      color: $menu_active_color;
    }
  }
}


// главное меню
.main-menu {
  display: inline-block;
  @include media_interval(0, $media_mobile) {
    display: none;
  }

  li {
    display: inline-block;
    margin-right: 10px;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
}


// мобильное меню
.mobile-menu {
  position: absolute;
  padding: 0 70px 0 40px;
  right: -100%;
  top: 0;
  width: 60%;
  height: 768px;
  height: 100vh;
  z-index: 50;
  text-align: left;
  background: $mobile_background;
  @include border-box;
  @include transition(right 0.4s);
  @include media_interval($media_mobile, 0) {
    display: none;
  }
  @include media_interval(0, $media480) {
    width: 80%;
    text-align: right;
  }

  ul {
    position: relative;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
  }

  li {
    margin: 24px 0;

    &:nth-of-type(1) {
      margin-top: 0;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      padding: 5px;
      font-weight: bold;
      vertical-align: top;
      color: $mobile_text_color;
      @include font-size(22px, 28px);

      &:hover {
        color: $mobile_hover_color;
      }
    }

    &.active a {
      color: $mobile_active_color;
    }
  }

  @at-root .main-menu-opened & {
    right: 0;
  }
}


// Кнопка меню для мобильной версии
#mobile-menu-button {
  display: inline-block;
  position: relative;
  z-index: 60;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  @include unselectable;
  @include media_interval($media_mobile, 0) {
    display: none;
  }

  .burger {
    position: relative;
    width: $menu_burger_width;
    height: 3 * $menu_burger_line_height + 2 * $menu_burger_line_space;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: $menu_burger_line_height;
      background: $menu_burger_color;
      @include transition-timing-function(linear);
    }
    &:before {
      top: 0;
      @include box-shadow($menu_burger_color 0 ($menu_burger_line_height + $menu_burger_line_space) 0 0);
      @include transform(translate3d(0, 0, 0) rotate(0deg));
      @include transition-property(transform, box-shadow, top);
      @include transition-duration(0.55s, 0.2s, 0.2s);
      @include transition-delay(0s, 0.45s, 0.45s);
    }
    &:after {
      top: 100%;
      @include transform(translate3d(0, -100%, 0) rotate(0deg));
      @include transition-property(transform, top);
      @include transition-duration(0.55s, 0.2s);
      @include transition-delay(0s, 0.45s);
    }

    @at-root .main-menu-opened & {
      &:before {
        top: 50%;
        @include box-shadow(transparent 0 0 0 0);
        @include transform(translate3d(0, -50%, 0) rotate(225deg));
        @include transition-delay(0.1s, 0.1s, 0s, 0s);
      }
      &:after {
        top: 50%;
        @include transform(translate3d(0, -50%, 0) rotate(315deg));
        @include transition-delay(0.1s, 0s);
      }
    }
  }
}
