{% load i18n %}

<div class="contact-block block">
    <div class="container">

        <div class="flex">
            {% if block.header %}
            <div class="attach-h1">{{ block.header }}</div>
            {% endif %}
            <div class="text-align">
                <div class="text-styles">
                    <p>Please submit your request by downloading the Rental Application and the instruction attached to it below.
 Fill out the form and email it to <a href="mailto:katrinagerber@lynmarbuilders.com"> katrinagerber@lynmarbuilders.com</a> </p>
                </div>
                <button class="btn rent-btn open-contact-popup">{% trans 'Rent Now' %}</button>
            </div>




        </div>
    </div>
</div>