@import "mixins";

.contact-block {
  text-align: center;
  background-color: #ddc694;
}

.attach-h1 {
     @include fontsize_h1;
    letter-spacing: -.02em;
    font-size: 4.625rem;
    line-height: .768;
    @include font-title;
    text-align: left;
}