@import "mixins";

#addresses {
  ul {
    @include flexbox;
    @include justify-content(space-between);
  }

  .address {
    padding: 5px;
    margin-right: 30px;
    cursor: pointer;
    background: rgba(#FFFF00, 0.1);
    @include fontsize_default;
    &:nth-last-child(1) {
      margin-right: 0;
    }

    &.active {
      background: rgba(#FFFF00, 0.5);
    }
  }
}